.w3-theme-l5 {color:#000 !important; background-color:#f9f8fa !important}
.w3-theme-l4 {color:#000 !important; background-color:#ebe9ee !important}
.w3-theme-l3 {color:#000 !important; background-color:#d7d4dd !important}
.w3-theme-l2 {color:#000 !important; background-color:#c4becc !important}
.w3-theme-l1 {color:#000 !important; background-color:#b0a8bb !important}
.w3-theme-d1 {color:#fff !important; background-color:#8c819c !important}
.w3-theme-d2 {color:#fff !important; background-color:#7c6f8e !important}
.w3-theme-d3 {color:#fff !important; background-color:#6c617c !important}
.w3-theme-d4 {color:#fff !important; background-color:#5d536a !important}
.w3-theme-d5 {color:#fff !important; background-color:#4d4659 !important}

.w3-theme-light {color:#000 !important; background-color:#f9f8fa !important}
.w3-theme-dark {color:#fff !important; background-color:#4d4659 !important}
.w3-theme-action {color:#fff !important; background-color:#4d4659 !important}

.w3-theme {color:#fff !important; background-color:#9c92aa !important}
.w3-text-theme {color:#9c92aa !important}
.w3-border-theme {border-color:#9c92aa !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#9c92aa !important}
.w3-hover-text-theme {color:#9c92aa !important}
.w3-hover-border-theme:hover {border-color:#9c92aa !important}

